<div class="callback comment modal" id="idCallback">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <button
        type="button"
        class="modal__close closeModal"
        aria-label="Close modal window"
      ></button>

      <div class="modal__wrapp">
        <div class="comment__content">
          <h2 class="modal__tl">Свяжитесь с нами</h2>
          <div class="txt-def">
            <p>
              Пожалуйста, оставьте свои комментарии и оценки, чтобы мы могли
              учесть ваши пожелания и продолжать развиваться.
            </p>
          </div>

          <form class="form submitForm" id="callbackForm">
            <div class="form__box">
              <label class="label__def">
                <span class="input__def">
                  <input
                    type="text"
                    placeholder="Имя*"
                    name="name"
                    data-required="true"
                  />
                </span>
              </label>
              <label class="label__def">
                <span class="input__def">
                  <input
                    type="text"
                    placeholder="Фамилия*"
                    name="surname"
                    data-required="true"
                  />
                </span>
              </label>
              <label class="label__def">
                <span class="input__def">
                  <input
                    type="email"
                    placeholder="Email*"
                    name="email"
                    data-required="true"
                  />
                </span>
              </label>
              <div class="label__def">
                <span class="input__def">
                  <div class="phone-wrapp">
                    <input type="tel" name="phone" data-required="true" />
                  </div>
                </span>
              </div>
              <label class="label__def">
                <span class="area__def">
                  <textarea
                    rows="4"
                    placeholder="Сообщение"
                    name="message"
                  ></textarea>
                </span>
              </label>
            </div>

            <div class="form__bottom">
              <button type="submit" class="btn-def">Оставить отзыв</button>
              <div class="form__desc">
                <p>
                  Нажимая "Оставить отзыв", вы соглашаетесь с нашими
                  <a href="./policy.html">Условиями использования</a> и
                  <a href="./policy.html">Политикой конфиденциальности</a>.
                </p>
              </div>
            </div>
          </form>
        </div>

        <div class="complet">
          <span class="complet__icon">
            <img src="./img/icons/done.svg" alt="Done" />
          </span>
          <h2 class="modal__tl">Сообщение отправлено!</h2>
          <div class="txt-def">
            <p>
              Мы получили ваше сообщение и скоро с вами свяжемся. Благодарим за
              обратную связь, мы ценим ваше время и внимание!
            </p>
          </div>
          <button type="button" class="btn-def closeModal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>
