<section class="connect screenbg mr3">
  <div class="connect__bg ibg no-select isBlackout">
    <img src="./img/content/connect_1.jpg" alt="" />
  </div>

  <div class="connect__body">
    <div class="connect__container">
      <h2 class="tl3 cw upper">Свяжитесь с нами</h2>
      <div class="txt-def">
        <p>
          Lorem ipsum dolor sit amet consectetur. Ipsum sed urna consectetur
          risus eget.
        </p>
      </div>

      <form class="form submitForm" id="connectForm">
        <div class="form__box">
          <label class="label__def">
            <span class="input__def">
              <input
                type="text"
                placeholder="Имя*"
                name="name"
                data-required="true"
              />
            </span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input
                type="text"
                placeholder="Фамилия*"
                name="surname"
                data-required="true"
              />
            </span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input
                type="email"
                placeholder="Email*"
                name="email"
                data-required="true"
              />
            </span>
          </label>
          <div class="label__def">
            <span class="input__def">
              <div class="phone-wrapp">
                <input type="tel" name="phone" data-required="true" />
              </div>
            </span>
          </div>
          <label class="label__def">
            <span class="area__def">
              <textarea
                rows="3"
                placeholder="Сообщение"
                name="message"
              ></textarea>
            </span>
          </label>
        </div>

        <label class="checkbox__def">
          <input type="checkbox" name="accept" data-required="true" />
          <span></span>
          <a href="#">I accept the Terms</a>
        </label>

        <button type="submit" class="btn-def bg-cw">Отправить</button>
      </form>
    </div>
  </div>
</section>
