<div class="done modal" id="idDone">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <button
        type="button"
        class="modal__close closeModal"
        aria-label="Close modal window"
      ></button>

      <div class="done__wrapp">
        <div class="complet">
          <span class="complet__icon">
            <img src="./img/icons/done.svg" alt="Done" />
          </span>
          <h2 class="modal__tl">Сообщение отправлено!</h2>
          <div class="txt-def">
            <p>
              Мы получили ваше сообщение и скоро с вами свяжемся. Благодарим за
              обратную связь, мы ценим ваше время и внимание!
            </p>
          </div>
          <button type="button" class="btn-def closeModal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>
