<section class="fqa pd3">
  <div class="fqa__container">
    <div class="heading">
      <h2 class="tl2">Часто задаваемые вопросы</h2>
    </div>

    <ul class="fqa__list accord">
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__header">
            <h3 class="tl4">Текст вопроса размещается здесь</h3>
          </div>
          <div class="ac-panel">
            <div class="fqa__content">
              <p>
                Lorem ipsum dolor sit amet consectetur. Tempor mollis ante
                tellus nec purus viverra morbi eleifend. Adipiscing id cursus
                non ante nisl lorem sapien in. Tristique scelerisque bibendum
                consectetur diam viverra. Vel egestas mattis viverra velit
                venenatis nisl sit. Dolor platea turpis venenatis sit massa
                aenean turpis sed. Non etiam id quam molestie.
              </p>
              <p>
                Purus cum tincidunt aenean urna quis. Amet ridiculus elit sit
                leo lectus ut ornare sodales libero. Congue sed purus mollis in
                sed. Malesuada at eu amet malesuada at ullamcorper. Suspendisse
                sodales eget lacus et consectetur felis aenean vitae. Tristique
                pellentesque elementum urna dolor euismod venenatis vitae vitae.
                Sollicitudin elit sapien parturient enim. Vulputate iaculis
                lacinia vel bibendum vitae amet ultricies neque suscipit.
                Placerat fusce nibh pharetra aliquet vel. Justo faucibus in cras
                venenatis ac felis est posuere sit. Eget malesuada in ornare et
                vel massa nunc donec.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__header">
            <h3 class="tl4">Текст вопроса размещается здесь</h3>
          </div>
          <div class="ac-panel">
            <div class="fqa__content">
              <p>
                Lorem ipsum dolor sit amet consectetur. Tempor mollis ante
                tellus nec purus viverra morbi eleifend. Adipiscing id cursus
                non ante nisl lorem sapien in. Tristique scelerisque bibendum
                consectetur diam viverra. Vel egestas mattis viverra velit
                venenatis nisl sit. Dolor platea turpis venenatis sit massa
                aenean turpis sed. Non etiam id quam molestie.
              </p>
              <p>
                Purus cum tincidunt aenean urna quis. Amet ridiculus elit sit
                leo lectus ut ornare sodales libero. Congue sed purus mollis in
                sed. Malesuada at eu amet malesuada at ullamcorper. Suspendisse
                sodales eget lacus et consectetur felis aenean vitae. Tristique
                pellentesque elementum urna dolor euismod venenatis vitae vitae.
                Sollicitudin elit sapien parturient enim. Vulputate iaculis
                lacinia vel bibendum vitae amet ultricies neque suscipit.
                Placerat fusce nibh pharetra aliquet vel. Justo faucibus in cras
                venenatis ac felis est posuere sit. Eget malesuada in ornare et
                vel massa nunc donec.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__header">
            <h3 class="tl4">Текст вопроса размещается здесь</h3>
          </div>
          <div class="ac-panel">
            <div class="fqa__content">
              <p>
                Lorem ipsum dolor sit amet consectetur. Tempor mollis ante
                tellus nec purus viverra morbi eleifend. Adipiscing id cursus
                non ante nisl lorem sapien in. Tristique scelerisque bibendum
                consectetur diam viverra. Vel egestas mattis viverra velit
                venenatis nisl sit. Dolor platea turpis venenatis sit massa
                aenean turpis sed. Non etiam id quam molestie.
              </p>
              <p>
                Purus cum tincidunt aenean urna quis. Amet ridiculus elit sit
                leo lectus ut ornare sodales libero. Congue sed purus mollis in
                sed. Malesuada at eu amet malesuada at ullamcorper. Suspendisse
                sodales eget lacus et consectetur felis aenean vitae. Tristique
                pellentesque elementum urna dolor euismod venenatis vitae vitae.
                Sollicitudin elit sapien parturient enim. Vulputate iaculis
                lacinia vel bibendum vitae amet ultricies neque suscipit.
                Placerat fusce nibh pharetra aliquet vel. Justo faucibus in cras
                venenatis ac felis est posuere sit. Eget malesuada in ornare et
                vel massa nunc donec.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__header">
            <h3 class="tl4">Текст вопроса размещается здесь</h3>
          </div>
          <div class="ac-panel">
            <div class="fqa__content">
              <p>
                Lorem ipsum dolor sit amet consectetur. Tempor mollis ante
                tellus nec purus viverra morbi eleifend. Adipiscing id cursus
                non ante nisl lorem sapien in. Tristique scelerisque bibendum
                consectetur diam viverra. Vel egestas mattis viverra velit
                venenatis nisl sit. Dolor platea turpis venenatis sit massa
                aenean turpis sed. Non etiam id quam molestie.
              </p>
              <p>
                Purus cum tincidunt aenean urna quis. Amet ridiculus elit sit
                leo lectus ut ornare sodales libero. Congue sed purus mollis in
                sed. Malesuada at eu amet malesuada at ullamcorper. Suspendisse
                sodales eget lacus et consectetur felis aenean vitae. Tristique
                pellentesque elementum urna dolor euismod venenatis vitae vitae.
                Sollicitudin elit sapien parturient enim. Vulputate iaculis
                lacinia vel bibendum vitae amet ultricies neque suscipit.
                Placerat fusce nibh pharetra aliquet vel. Justo faucibus in cras
                venenatis ac felis est posuere sit. Eget malesuada in ornare et
                vel massa nunc donec.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__header">
            <h3 class="tl4">Текст вопроса размещается здесь</h3>
          </div>
          <div class="ac-panel">
            <div class="fqa__content">
              <p>
                Lorem ipsum dolor sit amet consectetur. Tempor mollis ante
                tellus nec purus viverra morbi eleifend. Adipiscing id cursus
                non ante nisl lorem sapien in. Tristique scelerisque bibendum
                consectetur diam viverra. Vel egestas mattis viverra velit
                venenatis nisl sit. Dolor platea turpis venenatis sit massa
                aenean turpis sed. Non etiam id quam molestie.
              </p>
              <p>
                Purus cum tincidunt aenean urna quis. Amet ridiculus elit sit
                leo lectus ut ornare sodales libero. Congue sed purus mollis in
                sed. Malesuada at eu amet malesuada at ullamcorper. Suspendisse
                sodales eget lacus et consectetur felis aenean vitae. Tristique
                pellentesque elementum urna dolor euismod venenatis vitae vitae.
                Sollicitudin elit sapien parturient enim. Vulputate iaculis
                lacinia vel bibendum vitae amet ultricies neque suscipit.
                Placerat fusce nibh pharetra aliquet vel. Justo faucibus in cras
                venenatis ac felis est posuere sit. Eget malesuada in ornare et
                vel massa nunc donec.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
