<section class="reviews pd2">
  <div class="reviews__container">
    <div class="frame-wrapp">
      <div class="heading">
        <h2 class="tl2">Отзывы</h2>
      </div>

      <div class="splide-wrapp">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide reviews__card">
                <div class="reviews__box">
                  <!-- Є ава (додається клас ibg)-->
                  <div class="reviews__ava ibg">
                    <img src="./img/content/ava.png" alt="" />
                  </div>
                  <div class="reviews__info">
                    <h3 class="reviews__name">Keith Bertling</h3>
                    <p class="reviews__problem">Anterior Cervical Discectomy</p>
                    <p class="reviews__place">
                      United States of America Nov 14, 2023
                    </p>
                  </div>
                </div>
                <div class="txt-def">
                  <p>
                    My whole family against me coming to turkey for this
                    operation from the Us they were very scared and I was a
                    little nervous as well . Wish they could have come and seen
                    how I was treated here like royalty . Hate to admit it but
                    would have
                  </p>
                </div>
              </li>
              <li class="splide__slide reviews__card">
                <div class="reviews__box">
                  <!-- Немає ави (за замовчуванням без класу) -->
                  <div class="reviews__ava">
                    <img src="./img/icons/ava.svg" alt="" />
                  </div>
                  <div class="reviews__info">
                    <h3 class="reviews__name">Keith Bertling</h3>
                    <p class="reviews__problem">Anterior Cervical Discectomy</p>
                    <p class="reviews__place">
                      United States of America Nov 14, 2023
                    </p>
                  </div>
                </div>
                <div class="txt-def">
                  <p>
                    My whole family against me coming to turkey for this
                    operation from the Us they were very scared and I was a
                    little nervous as well . Wish they could have come and seen
                    how I was treated here like royalty . Hate to admit it but
                    would have
                  </p>
                </div>
              </li>
              <li class="splide__slide reviews__card">
                <div class="reviews__box">
                  <div class="reviews__ava">
                    <img src="./img/icons/ava.svg" alt="" />
                  </div>
                  <div class="reviews__info">
                    <h3 class="reviews__name">Keith Bertling</h3>
                    <p class="reviews__problem">Anterior Cervical Discectomy</p>
                    <p class="reviews__place">
                      United States of America Nov 14, 2023
                    </p>
                  </div>
                </div>
                <div class="txt-def">
                  <p>
                    My whole family against me coming to turkey for this
                    operation from the Us they were very scared and I was a
                    little nervous as well . Wish they could have come and seen
                    how I was treated here like royalty . Hate to admit it but
                    would have
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="arrows">
          <div class="arrows__body">
            <button
              type="button"
              class="arrows__prev"
              aria-label="Arrows prev"
            ></button>
            <button
              type="button"
              class="arrows__next"
              aria-label="Arrows next"
            ></button>
          </div>
        </div>
      </div>

      <button type="button" class="btn-def br-gry">Написать Отзыв</button>
    </div>
  </div>
</section>
