@font-face {
  font-family: "Raleway";
  src:
    url("../../fonts/Regular/Raleway-Regular.eot") format("eot"),
    url("../../fonts/Regular/Raleway-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../../fonts/Medium/Raleway-Medium.eot") format("eot"),
    url("../../fonts/Medium/Raleway-Medium.woff2") format("woff2"),
    url("../../fonts/Medium/Raleway-Medium.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../../fonts/SemiBold/Raleway-SemiBold.eot") format("eot"),
    url("../../fonts/SemiBold/Raleway-SemiBold.woff2") format("woff2"),
    url("../../fonts/SemiBold/Raleway-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../../fonts/Bold/Raleway-Bold.eot") format("eot"),
    url("../../fonts/Bold/Raleway-Bold.woff2") format("woff2"),
    url("../../fonts/Bold/Raleway-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
