html,
body {
  font-variant-numeric: lining-nums proportional-nums;
  font-optical-sizing: auto;
  font-family: var(--ff);
  background-color: var(--cw2);
  color: var(--cm);
  font-size: 1rem;
  line-height: 1.5;
}

.overhide {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 86.25rem;
  padding: 0 1.875em;
  margin: 0 auto;
}

/* --------- Adaptive desktop (1380px) --------- */

@media screen and (max-width: 1380px) {
  html,
  body {
    font-size: 1.1594vw;
  }
}

/* --------- Adaptive tablet (960px) --------- */

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }

  [class*="__container"] {
    padding: 0 1em;
  }
}

/* --------- Adaptive mobile (375px) --------- */

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 4.26vw;
  }
}
