.mission {
  & > [class*="__bg"] {
    img {
      &:nth-child(2) {
        display: none;
      }
    }
  }
  &__wrapp {
    position: relative;
    z-index: 2;

    .screenbg {
      min-height: 100vh;
      &.isFirstSec,
      &.isFullMod {
        min-height: 100vh;
      }
    }
  }

  &__content {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    &::before {
      border: none !important;
    }

    .tl2 {
      margin-bottom: 1.5rem;
    }
    .txt-def {
      display: block;
      & > * {
        margin-top: 0.5rem;
        &:first-child {
          margin-top: 0;
        }
      }
      h3 {
        line-height: 1.5;
        font-size: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__icons {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 0.125rem;
      height: 100vh;
      background-color: var(--ca);
    }
    &::before {
      bottom: 100%;
    }
    &::after {
      top: 100%;
    }
    .icons-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      border: 0.125rem solid var(--ca);
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translateY(-50%);
        background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0.15) 100%,
          rgba(0, 0, 0, 0.15) 100%
        );
        backdrop-filter: blur(0.75rem);
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 7.5rem;
        height: 7.5rem;
        img {
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }
  &__icon {
    display: none;
  }

  .splide {
    display: flex;
    flex: 1 1 auto;
    &__list {
      position: relative;
      min-height: 100%;
    }
    &__track {
      overflow: visible;
      flex: 1 1 auto;
    }
  }

  .part-first,
  .part-second {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .part-first {
    z-index: 1;
  }
  .part-second {
    z-index: 2;
    transform: translateY(-100%);
  }
}

.steps {
  position: relative;
  z-index: 1200;

  .screenbg {
    min-height: 100vh;
  }
}
.steps__body {
  position: sticky;
  top: 0;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .mission {
    & > [class*="__bg"] {
      img {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }

    &__wrapp {
      .screenbg {
        min-height: auto;
        &.isFirstSec,
        &.isFullMod {
          min-height: auto;
        }
      }
    }

    &__content {
      padding-bottom: 1.5rem !important;

      .tl2 {
        margin-bottom: 1rem;
      }
      .txt-def {
        & > * {
          margin-top: 0.25rem;
        }
        h3 {
          line-height: 1.42;
          font-size: 0.875rem;
          margin-top: 1rem;
          margin-bottom: 0.25rem;
        }
      }
    }

    &__icons {
      display: none;
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 0.125rem solid var(--ca);
      margin-bottom: 2rem;
      span {
        width: 4.5rem;
        height: 4.5rem;
        img {
          width: 100%;
        }
      }
    }

    .splide {
      display: block;
      flex: 0 0 auto;
      &__track {
        flex: 0 0 auto;
      }
    }

    .part-first,
    .part-second {
      position: static;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      justify-content: start;
    }
    .part-second {
      transform: translateY(0);
    }

    .splide__pagination {
      margin-top: 2.5rem;
    }
  }

  .steps {
    height: 100% !important;
    z-index: 5;

    .screenbg {
      min-height: auto;
    }
  }
  .steps__body {
    position: static;
    top: auto;
  }
}
