.doctors {
  &__top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  &__ava {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    width: 13.75rem;
    height: 13.75rem;
  }
  &__price {
    p {
      text-align: right;
      font-size: 1.125rem;
      line-height: 1.55;
      margin-bottom: 0.5rem;
    }
    h3 {
      color: var(--cg);
      text-align: right;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  &__info {
    margin-bottom: 1.25rem;
    .tl4 {
      margin-bottom: 0.625rem;
    }
    .hospital__local {
      color: var(--ch);
      margin-bottom: 1.5rem;
    }
  }
  &__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;
    li {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.55;
      padding: 0.1875rem 1.1875rem;
      border: 0.0625rem solid var(--cg);
      border-radius: 0.5rem;
    }
  }
  &__desc {
    color: var(--ch);
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
  }
}

@media screen and (max-width: 960px) {
  .doctors {
    &__top {
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
    &__ava {
      width: 8.5rem;
      height: 8.5rem;
    }
    &__price {
      p {
        font-size: 0.75rem;
        line-height: 1.33;
        margin-bottom: 0.25rem;
      }
      h3 {
        font-size: 1.75rem;
        line-height: 1.14;
      }
    }

    &__info {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 0.0625rem solid var(--cd2);
      .hospital__local {
        margin-bottom: 1rem;
      }
    }
    &__skills {
      margin-bottom: 1rem;
      li {
        font-size: 0.875rem;
        line-height: 1.71;
        padding: 0.1875rem 0.9375rem;
      }
    }
    &__desc {
      font-size: 0.875rem;
      line-height: 1.42;
      gap: 1rem 0;
      margin-bottom: 0;
    }

    .hospital__bottom {
      .btn-def {
        span {
          display: none;
        }
      }
    }
  }
}
