.packages {
  & > [class*="__bg"] {
    width: calc(100% + 12.5rem);
    height: calc(100% + 12.5rem);
  }

  &__wrapp {
    position: relative;
    z-index: 2;

    .screenbg {
      min-height: 100vh;
      &.isFirstSec,
      &.isFullMod {
        min-height: 100vh;
        & > [class*="__body"] {
          min-height: 40.625rem;
        }
      }
    }
  }
  &__content {
    .tl2 {
      margin-bottom: 1.5rem;
    }
    .tl4 {
      margin-bottom: 1.5rem;
    }
    .txt-def {
      margin-bottom: 3.125rem;
    }
  }

  .part-first {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    & > [class*="__body"] {
      & > [class*="__container"] {
        justify-content: end;
      }
    }
    .sechero {
      &__box {
        padding: 4rem 0 9.875rem 0;
        max-width: 41.5625rem;
        .tl2 {
          margin-bottom: 3.125rem;
        }
      }
    }
  }
  .part-second {
    position: relative;
    z-index: 2;
    top: 0;
    left: 100%;
  }
}

.preview {
  position: relative;
  z-index: 1000;
}
.preview__body {
  position: sticky;
  top: 0;
  overflow: hidden;
}

@media screen and (min-width: 961px) {
  .packages {
    .part-first, .part-second {
      background-image: none !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .packages {
    & > [class*="__bg"] {
      width: 100%;
      height: 100%;
    }
    &__wrapp {
      .screenbg {
        min-height: 100%;
        &.isFirstSec,
        &.isFullMod {
          min-height: 100%;

          & > [class*="__body"] {
            min-height: 42.6875rem;
          }
        }
      }
    }
    &__content {
      .tl2 {
        margin-bottom: 1rem;
      }
      .tl4 {
        margin-bottom: 1rem;
      }
      .txt-def {
        margin-bottom: 2rem;
      }
      .btn-def {
        margin: 0 auto;
      }
    }

    .part-first {
      position: static;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      .sechero {
        &__box {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          max-width: 35.625rem;
          padding: 4rem 0 6.875rem 0;
          .tl2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 2rem;
          }
        }
        &__sbtl {
          text-align: center;
        }
      }
    }
    .part-second {
      position: static !important;
      transform: none !important;
      display: block !important;
    }
  }

  .preview {
    z-index: 10;
    height: auto !important;
  }
  .preview__body {
    position: static;
    top: auto;
  }
}
