<section class="complex pd3">
  <div class="complex__container">
    <ul class="complex__list">
      <li class="solut__card">
        <a href="./program.html" class="solut__img ibg">
          <img src="./img/content/solut_1.jpg" alt="" />
        </a>
        <div class="solut__box">
          <a href="./program.html" class="tl4 ibg">
            Хирургия пороков сердца у детей с рождения
          </a>
          <p class="solut__cost">Стоимость от</p>
          <p class="solut__price">2 300 USD</p>
          <div class="solut__bottom">
            <a href="./program.html" class="btn-def br-gry"> Подробнее </a>
            <div class="solut__soc">
              <p>Получить консультацию</p>
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_1.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_2.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_3.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="solut__card">
        <a href="./program.html" class="solut__img ibg">
          <img src="./img/content/solut_2.jpg" alt="" />
        </a>
        <div class="solut__box">
          <a href="./program.html" class="tl4 ibg">
            Лечение стволовыми клетками
          </a>
          <p class="solut__cost">Стоимость от</p>
          <p class="solut__price">2 300 USD</p>
          <div class="solut__bottom">
            <a href="./program.html" class="btn-def br-gry"> Подробнее </a>
            <div class="solut__soc">
              <p>Получить консультацию</p>
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_1.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_2.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_3.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="solut__card">
        <a href="./program.html" class="solut__img ibg">
          <img src="./img/content/solut_3.jpg" alt="" />
        </a>
        <div class="solut__box">
          <a href="./program.html" class="tl4 ibg">
            Лечение рака предстательной железы
          </a>
          <p class="solut__cost">Стоимость от</p>
          <p class="solut__price">2 300 USD</p>
          <div class="solut__bottom">
            <a href="./program.html" class="btn-def br-gry"> Подробнее </a>
            <div class="solut__soc">
              <p>Получить консультацию</p>
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_1.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_2.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_3.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="solut__card">
        <a href="./program.html" class="solut__img ibg">
          <img src="./img/content/solut_4.jpg" alt="" />
        </a>
        <div class="solut__box">
          <a href="./program.html" class="tl4 ibg">
            Лечение варикозной болезни, лечение вен
          </a>
          <p class="solut__cost">Стоимость от</p>
          <p class="solut__price">2 300 USD</p>
          <div class="solut__bottom">
            <a href="./program.html" class="btn-def br-gry"> Подробнее </a>
            <div class="solut__soc">
              <p>Получить консультацию</p>
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_1.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_2.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="./img/icons/soc_3.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="pagination__wrapp">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev" data-page="1"></a>
          <a class="facetwp-page first" data-page="1">01</a>
          <a class="facetwp-page active" data-page="2">02</a>
          <a class="facetwp-page" data-page="3">03</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="12">12</a>
          <a class="facetwp-page next" data-page="3"></a>
        </div>
      </div>
    </div>
  </div>
</section>
