<!-- screenbg *Важливо: класи isReverse, var(1-3) працюють у зв'язці з isFullMod! -->
<section class="foryou screenbg isFullMod mr3">
  <div class="foryou__bg ibg no-select">
    <img src="./img/content/foryou_1.jpg" alt="" />
  </div>

  <div class="foryou__body">
    <!-- [class*="__container"] додається isReverse, якщо блок з іншої сторони -->
    <div class="foryou__container">
      <!-- [class*="__content"] додається var(1-3) ширини блоку -->
      <div class="foryou__content var3">
        <h2 class="tl2 cw upper">
          Передовые клиники и технологии для вашего здоровья
        </h2>
        <div class="txt-def cw">
          <p>
            Доверьте своё здоровье лучшим специалистам и воспользуйтесь
            передовыми медицинскими технологиями для эффективного и безопасного
            лечения.
          </p>
        </div>
        <button type="button" class="btn-def">Бесплатная консультация</button>
      </div>
    </div>
  </div>
</section>
