<section class="program sechero screenbg isFirstSec">
  <div class="sechero__bg ibg no-select isLinear">
    <img src="./img/content/prog_1.jpg" alt="" />
  </div>

  <div class="sechero__body">
    <div class="sechero__container">
      <div class="sechero__box">
        <h1 class="tl2 cw upper">
          Программа лечения, адаптированная под ваши потребности
        </h1>
        <div class="txt-def cw">
          <p>
            Получите индивидуальный план лечения с учетом ваших особенностей и
            состояния здоровья. Наши специалисты обеспечат комплексный подход
            для достижения наилучших результатов и улучшения качества вашей
            жизни. Доверьтесь профессионалам — сделайте первый шаг к здоровому
            будущему уже сегодня.
          </p>
        </div>

        <button type="button" class="btn-def">Консультация</button>
      </div>
    </div>
  </div>
</section>
