.priority {
  &__content {
    padding-top: 14.375rem !important;
    .tl2 {
      margin-bottom: 4rem;
    }
  }

  .splide {
    &__list {
      justify-content: space-between;
    }
    &__slide {
      display: flex;
      flex-direction: column;
      color: var(--ce);
      h3 {
        font-size: 5rem;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      p {
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 2.5rem;
      }
      .btn-def {
        margin-top: auto;
        padding: 0.9375rem 2.9375rem;
      }
      &:nth-child(1) {
        max-width: 15.625rem;
      }
      &:nth-child(2) {
        max-width: 11.875rem;
      }
      &:nth-child(3) {
        max-width: 19.6875rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .priority {
    br {
      display: none;
    }

    &__content {
      padding-top: 13.75rem !important;
      .tl2 {
        margin-bottom: 2.5rem;
      }
    }

    .splide {
      &__track {
        overflow: visible;
      }
      &__list {
        justify-content: stretch;
      }
      &__slide {
        h3 {
          font-size: 4rem;
          margin-bottom: 0.25rem;
        }
        p {
          line-height: 1.5;
          margin-bottom: 1.5rem;
        }
        .btn-def {
          max-width: 100%;
          margin: 0 auto;
          margin-top: auto;
          padding: 0.6875rem 1.6875rem;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          max-width: 100%;
        }
      }
    }

    .splide__pagination {
      margin-top: 4rem;
    }
  }
}
