.process {
  &__body {
    padding: 6.25rem 0;
  }

  &__card {
    min-height: 22rem;
    border-radius: 1.5rem;
    background-color: var(--ce);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  &__txt {
    font-weight: 500;
    margin-bottom: auto;
  }
  &__icon {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-top: 1.5rem;
    img {
      width: 100%;
    }
  }

  .heading {
    margin-bottom: 2rem;
  }

  .splide {
    &__track {
      overflow: visible;
    }
  }
  .current__slide {
    display: block;
    color: var(--cg);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.33;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .btn-def {
    margin: 0 auto;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .process {
    &__body {
      padding: 3.125rem 0 7.0625rem 0;
    }

    &__card {
      max-width: calc(100% - 2.0625rem);
    }

    .splide__pagination {
      position: absolute;
      transform: translateY(100%);
      bottom: -9rem;
    }

    .btn-def {
      width: 100%;
      max-width: 21.5rem;
    }
  }
}
