.support {
  &__icon {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    img {
      width: 100%;
    }
  }
  &__card {
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--ce);
    border: 0.5rem solid var(--ce2);
    min-height: 16.5rem;
  }

  .splide {
    &__track {
      overflow: visible;
    }
  }
}

@media screen and (max-width: 960px) {
  .support {
    .heading {
      br {
        display: none;
      }
    }

    &__card {
      padding: 1.375rem;
      border-radius: 0.75rem;
      border: 0.25rem solid var(--ce2);
      min-height: auto;
    }
  }
}
