<section class="about sechero screenbg isFirstSec">
  <div class="sechero__bg ibg no-select isLinear">
    <img src="./img/content/about_1.jpg" alt="" />
  </div>

  <div class="sechero__body">
    <div class="sechero__container">
      <div class="sechero__box">
        <h1 class="tl2 cw upper">PACIENT CLUB</h1>
        <div class="txt-def cw">
          <p>
            Бесплатная международная платформа, созданная для поиска клиник и
            организации лечения для людей из любой точки мира.
          </p>
          <p>
            Благодаря прямому представительству клиник мы имеем возможность
            предоставлять нашим пациентам наиболее выгодные медицинские услуги
            учитывая преимущества и недостатки каждой из больниц с которой
            работаем, а также учитывая личный опыт лечения наших пациентов.
          </p>
        </div>

        <button type="button" class="btn-def">Консультация</button>
      </div>
    </div>
  </div>
</section>
