<!-- screenbg *Важливо: класи isReverse, var(1-3) працюють у зв'язці з isFullMod! -->
<section class="achiev screenbg isFullMod mr2">
  <div class="achiev__bg ibg no-select">
    <img src="./img/content/achiev_1.jpg" alt="" />
  </div>

  <div class="achiev__body">
    <!-- [class*="__container"] додається isReverse, якщо блок з іншої сторони -->
    <div class="achiev__container isReverse">
      <!-- [class*="__content"] додається var(1-3) ширини блоку -->
      <div class="achiev__content var2">
        <h2 class="tl2 cw upper">
          Достижения PACIENTCLUB<br />
          в 2024 году
        </h2>
        <div class="txt-def cw">
          <p>
            Получение статуса PREMIUM Partner от одной из самых современных
            клиник мира - Memorial Bahçelievler Hospital и возможности
            предоставлять услуги для наших пациентов по более низким ценам.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
