<section class="certif pd2">
  <div class="certif__container">
    <div class="heading__txt">
      <h2 class="tl2">Наши сертификаты</h2>
      <div class="txt-def">
        <p>
          Lorem ipsum dolor sit amet consectetur. Ipsum sed urna consectetur
          risus eget. Malesuada feugiat metus gravida diam.
        </p>
      </div>
    </div>

    <ul class="certif__list">
      <li>
        <div class="certif__box ibg_contain">
          <img src="./img/content/certif_1.jpg" alt="" />
        </div>
      </li>
      <li>
        <div class="certif__box ibg_contain">
          <img src="./img/content/certif_2.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
