<section class="media pd1">
  <div class="media__container">
    <div class="heading">
      <h2 class="tl2">Читайте про нас в медиа</h2>
    </div>

    <div class="splide-wrapp">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide media__card">
              <div class="media__box">
                <img src="./img/content/media_1.png" alt="" />
              </div>
              <div class="media__box">
                <img src="./img/content/media_2.png" alt="" />
              </div>
              <div class="media__box">
                <img src="./img/content/media_3.png" alt="" />
              </div>
              <div class="media__box">
                <img src="./img/content/media_4.png" alt="" />
              </div>
            </li>
            <li class="splide__slide media__card">
              <div class="media__box">
                <img src="./img/content/media_1.png" alt="" />
              </div>
              <div class="media__box">
                <img src="./img/content/media_2.png" alt="" />
              </div>
              <div class="media__box">
                <img src="./img/content/media_3.png" alt="" />
              </div>
              <div class="media__box">
                <img src="./img/content/media_4.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="arrows">
        <div class="arrows__body">
          <button
            type="button"
            class="arrows__prev"
            aria-label="Arrows prev"
          ></button>
          <button
            type="button"
            class="arrows__next"
            aria-label="Arrows next"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
