<section class="mission screenbg mr3">
  <div class="mission__bg ibg no-select isLinear">
    <img src="./img/content/miss_1.jpg" alt="" />
  </div>

  <div class="mission__wrapp">
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="screenbg isFullMod">
              <div class="mission__body">
                <div class="mission__container isReverse">
                  <div class="mission__content var2">
                    <h2 class="tl2 cw upper">НАША МИССИЯ</h2>
                    <div class="txt-def cw">
                      <p>
                        Улучшать качество жизни пациентов, объединяя современные
                        медицинские технологии, профессионализм врачей и
                        индивидуальный подход к каждому пациенту.
                      </p>
                      <p>Наш главный приоритет – ваше здоровье!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="screenbg isFullMod">
              <div class="mission__body">
                <div class="mission__container isReverse">
                  <div class="mission__content var2">
                    <h2 class="tl2 cw upper">НАШИ ЦЕННОСТИ</h2>
                    <div class="txt-def cw">
                      <p>
                        Улучшать качество жизни пациентов, объединяя современные
                        медицинские технологии, профессионализм врачей и
                        индивидуальный подход к каждому пациенту.
                      </p>
                      <p>Наш главный приоритет – ваше здоровье!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
