<section class="steps mr3" style="height: 250vh">
  <div class="mission screenbg steps__body">
    <div class="mission__bg ibg no-select isLinear">
      <img src="./img/content/miss_1.jpg" alt="" />
    </div>

    <div class="mission__wrapp">
      <div class="screenbg isFullMod">
        <div class="mission__body">
          <div class="mission__container isReverse">
            <div class="mission__content var2">
              <div class="mission__icons">
                <div class="icons-box">
                  <span class="no-select">
                    <img src="./img/icons/step_1.svg" alt="" />
                  </span>
                  <span class="no-select">
                    <img src="./img/icons/step_2.svg" alt="" />
                  </span>
                </div>
              </div>
              <div class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide part-first">
                      <h2 class="tl2 cw upper">НАША МИССИЯ</h2>
                      <div class="txt-def cw">
                        <p>
                          Улучшать качество жизни пациентов, объединяя
                          современные медицинские технологии, профессионализм
                          врачей и индивидуальный подход к каждому пациенту.
                        </p>
                        <p>Наш главный приоритет – ваше здоровье!</p>
                      </div>
                    </li>
                    <li class="splide__slide part-second">
                      <h2 class="tl2 cw upper">НАШИ ЦЕННОСТИ</h2>
                      <div class="txt-def cw">
                        <h3>Забота о здоровье</h3>
                        <p>
                          Каждое наше решение основывается на интересах и
                          здоровье пациента
                        </p>
                        <h3>Индивидуальный подход</h3>
                        <p>
                          Мы понимаем, что каждая история уникальна, поэтому
                          создаем персонализированные решения для лечения
                        </p>
                        <h3>Профессионализм и доверие</h3>
                        <p>
                          Сотрудничество с ведущими медицинскими учреждениями и
                          специалистами гарантирует безопасность и надежность
                          лечения
                        </p>
                        <h3>Доступность</h3>
                        <p>
                          Мы упрощаем процесс организации лечения, обеспечивая
                          поддержку на всех этапах, от первых консультаций до
                          возвращения домой
                        </p>
                        <h3>Эмпатия и поддержка</h3>
                        <p>
                          Мы заботимся о моральном и эмоциональном состоянии
                          наших пациентов и их близких, предоставляя полную
                          информационную и психологическую поддержку
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
