<section class="qualit pd2">
  <div class="qualit__container">
    <div class="heading">
      <h2 class="tl2">Преимущества лечиться с нами</h2>
    </div>

    <div class="qualit__tabs tabs">
      <div class="tabs__box">
        <ul class="tabs__list">
          <li>
            <button
              type="button"
              data-tab="treatment1"
              class="tabs__btn isActive"
            >
              Персонализированный подход
            </button>
          </li>
          <li>
            <button type="button" data-tab="treatment2" class="tabs__btn">
              Во время лечения
            </button>
          </li>
          <li>
            <button type="button" data-tab="treatment3" class="tabs__btn">
              После лечения
            </button>
          </li>
        </ul>
      </div>

      <div class="tabs__cont">
        <div id="treatment1" class="isActive isAnim">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="qualit__icon">
                    <img src="./img/content/care_1.svg" alt="" />
                  </div>
                  <div class="qualit__box">
                    <h3 class="tl4"></h3>
                  </div>
                </li>
                <li class="splide__slide">
                  <p>slide 2</p>
                </li>
                <li class="splide__slide">
                  <p>slide 3</p>
                </li>
                <li class="splide__slide">
                  <p>slide 4</p>
                </li>
                <li class="splide__slide">
                  <p>slide 5</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="arrows">
            <div class="arrows__body">
              <button
                type="button"
                class="arrows__prev"
                aria-label="Arrows prev"
              ></button>
              <button
                type="button"
                class="arrows__next"
                aria-label="Arrows next"
              ></button>
            </div>
          </div>
        </div>

        <div id="treatment2">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p>slide 1</p>
                </li>
                <li class="splide__slide">
                  <p>slide 2</p>
                </li>
                <li class="splide__slide">
                  <p>slide 3</p>
                </li>
                <li class="splide__slide">
                  <p>slide 4</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="arrows">
            <div class="arrows__body">
              <button
                type="button"
                class="arrows__prev"
                aria-label="Arrows prev"
              ></button>
              <button
                type="button"
                class="arrows__next"
                aria-label="Arrows next"
              ></button>
            </div>
          </div>
        </div>

        <div id="treatment3">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p>slide 1</p>
                </li>
                <li class="splide__slide">
                  <p>slide 2</p>
                </li>
                <li class="splide__slide">
                  <p>slide 3</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="arrows">
            <div class="arrows__body">
              <button
                type="button"
                class="arrows__prev"
                aria-label="Arrows prev"
              ></button>
              <button
                type="button"
                class="arrows__next"
                aria-label="Arrows next"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
