<section class="whowe pd3">
  <div class="whowe__container">
    <div class="whowe__content">
      <h2 class="tl2">Кто мы?</h2>
      <h3 class="whowe__sbtl">
        Нас зовут Элиф Исмихан и Надежда Голенко, мы уже более 8 лет занимаемся
        организацией диагностики и лечения онкологии в Турции для пациентов с
        разных уголков планеты.
      </h3>
      <div class="txt-def">
        <p>
          Платформа PACIENT CLUB – это результат нашей ежедневной работы с
          пациентами и их непростыми историями, связанными с поиском медицинских
          решений и возможности найти врача и клинику, которая действительно
          сможет помочь решить возникшие проблемы со здоровьем.
        </p>
        <p>
          Наша команда — это высококвалифицированные медицинские специалисты,
          координаторы и переводчики, которые помогают пациентам на всех этапах
          лечения.
        </p>
      </div>
    </div>

    <div class="whowe__images">
      <div class="whowe__img ibg">
        <img src="./img/content/whowe_1.jpg" alt="" />
        <div class="whowe__info">
          <p class="whowe__name">Элиф Исмихан</p>
          <p class="whowe__position">Сооснователь Patient Club</p>
        </div>
      </div>
      <div class="whowe__img ibg">
        <img src="./img/content/whowe_2.jpg" alt="" />
        <div class="whowe__info">
          <p class="whowe__name">Надежда Голенко</p>
          <p class="whowe__position">Сооснователь Patient Club</p>
        </div>
      </div>
    </div>
  </div>
</section>
