.header__main {
  .navmenu {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;

    &__nav {
      margin: 0 4.625rem 0 1.5rem;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem 4.5rem;

      & > li,
      & > .menu-item {
        a {
          display: block;
          font-weight: 500;
          transition: all 0.15s ease-in;
          &:hover {
            color: var(--cr);
          }
        }

        &.current-menu-item {
          & > a {
            color: var(--cr);
          }
        }
        &.menu-item-has-children {
          position: relative;
          &:hover {
            & > a {
              color: var(--cr);
              &::after {
                transform: rotateX(-180deg);
                background-image: var(--vectorRed);
              }
            }
            & > ul,
            & > .sub-menu {
              visibility: visible;
              opacity: 1;
            }
          }

          & > a {
            display: flex;
            align-items: center;
            gap: 0 0.5rem;
            &::after {
              content: "";
              flex-shrink: 0;
              width: 1rem;
              height: 1rem;
              background-size: 1rem 1rem;
              background-position: center center;
              background-repeat: no-repeat;
              background-image: var(--vectorBla);
              transition: all 0.15s ease-in;
            }
          }
          & > ul,
          & > .sub-menu {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: 100%;
            left: -1.5rem;
            transform: translateY(1.625rem);
            background-color: var(--cw);
            display: flex;
            flex-direction: column;
            gap: 1rem 0;
            padding: 1.5rem;
            width: 16.625rem;
            border: 0.0625rem solid var(--ca);
            border-top: none;
            transition: all 0.15s ease-in;

            &::before {
              content: "";
              position: absolute;
              top: -1.625rem;
              left: 0;
              width: 100%;
              height: 1.625rem;
            }
          }
        }
      }
    }

    &__search {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 50%;
      border: 0.0625rem solid var(--cg);
      transition: all 0.15s ease-in;
      &::before {
        content: "";
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        background-size: 1.25rem 1.25rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--searchGre);
        transition: all 0.15s ease-in;
      }
      &:hover {
        background-color: var(--cg);
        &::before {
          background-image: var(--searchWhi);
        }
      }
    }

    & > .btn-def {
      padding: 0.5625rem 1.4375rem;
    }

    &__lang {
      & > li {
        position: relative;
        &:hover {
          & > a {
            color: var(--cr);
            border-radius: 1.375rem 1.375rem 0 0;
            border-bottom-color: var(--cw);
            &::after {
              transform: rotateX(-180deg);
              background-image: var(--vectorRed);
            }
          }
          & > ul,
          & > .sub-menu {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
        a {
          display: block;
          font-weight: 600;
          transition: all 0.15s ease-in;
          &:hover {
            color: var(--cr);
          }
        }

        & > a {
          display: flex;
          align-items: center;
          gap: 0 0.25rem;
          border-radius: 1.375rem;
          padding: 0.5625rem 0.9375rem;
          border: 0.0625rem solid var(--cd);
          &::after {
            content: "";
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
            background-size: 1rem 1rem;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: var(--vectorBla);
            transition: all 0.15s ease-in;
          }
        }

        & > ul,
        & > .sub-menu {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          z-index: 2;
          top: 100%;
          left: 0;
          background-color: var(--cw);
          transform: translateY(-0.1875rem);
          display: flex;
          flex-direction: column;
          gap: 0.3125rem 0;
          padding: 0 0.9375rem 0.5625rem 0.9375rem;
          width: 100%;
          border: 0.0625rem solid var(--cd);
          border-top: none;
          border-radius: 0 0 1.375rem 1.375rem;
          transition: all 0.15s ease-in;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header__main {
    .navmenu {
      display: none;
    }
  }

  .mobmenu {
    .navmenu {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      &__nav {
        order: 1;
      }
      &__list {
        & > li,
        & > .menu-item {
          border-bottom: 0.0625rem solid rgba(217, 217, 217, 0.32);
          &:last-child {
            border-bottom: none;
          }
          & > a {
            padding: 1rem 0.5rem;
          }
          a {
            display: block;
            font-weight: 600;
            line-height: 1.25;
            transition: all 0.15s ease-in;
          }

          &.current-menu-item {
            & > a {
              color: var(--cr);
            }
          }
          &.menu-item-has-children {
            &.isOpened {
              & > a {
                color: var(--cr);
                &::after {
                  transform: rotateX(-180deg);
                  background-image: var(--vectorRed);
                }
              }
            }

            & > a {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 0 0.5rem;
              &::after {
                content: "";
                flex-shrink: 0;
                width: 1rem;
                height: 1rem;
                background-size: 1rem 1rem;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: var(--vectorBla);
                transition: all 0.15s ease-in;
              }
            }
            & > ul,
            & > .sub-menu {
              display: none;
              flex-direction: column;
              a {
                padding: 0.25rem 0.5rem;
              }
            }
          }
        }
      }

      & > .btn-def {
        order: 3;
        padding: 0.625rem 0.9375rem;
        margin: auto auto 0 auto;
      }

      &__lang {
        order: 2;
        margin-bottom: 3.125rem;
        & > li {
          position: relative;
          a {
            display: block;
            font-weight: 600;
            line-height: 1.25;
          }

          & > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 0.5rem;
            padding: 1rem 0.5rem;
            border-top: 0.0625rem solid rgba(217, 217, 217, 0.32);
            transition: all 0.15s ease-in;
            &::after {
              content: "";
              flex-shrink: 0;
              width: 1rem;
              height: 1rem;
              background-size: 1rem 1rem;
              background-position: center center;
              background-repeat: no-repeat;
              background-image: var(--vectorBla);
              transition: all 0.15s ease-in;
            }
          }
          & > ul,
          & > .sub-menu {
            height: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            width: 100%;
            transition: all 0.15s ease-in;
            a {
              padding: 0.25rem 0.5rem;
            }
          }
        }
        &.isOpened {
          & > li {
            & > a {
              color: var(--cr);
              &::after {
                transform: rotateX(-180deg);
                background-image: var(--vectorRed);
              }
            }
            & > ul,
            & > .sub-menu {
              height: 100%;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &__search {
        display: none;
      }
    }
  }
}
