<section class="search pd4">
  <div class="search__container">
    <div class="search__head">
      <div class="search__info">
        <h1 class="tl1 upper">Поиск</h1>
        <div class="txt-def">
          <p>
            Lorem ipsum dolor sit amet consectetur. Tortor nec mattis nibh
            sollicitudin nunc lectus ullamcorper augue cursus.
          </p>
        </div>
      </div>

      <div class="hero__search">
        <div
          class="facetwp-facet facetwp-facet-search facetwp-type-search"
          data-name="search"
          data-type="search"
        >
          <span class="facetwp-input-wrap">
            <i class="facetwp-icon"></i>
            <input
              type="text"
              class="facetwp-search"
              autocomplete="off"
              placeholder="Поиск по диагнозу"
            />
          </span>
        </div>
      </div>

      <div class="search__radios">
        <div
          class="facetwp-facet facetwp-facet-catnews facetwp-type-radio"
          data-name=""
          data-type="radio"
        >
          <div class="facetwp-radio checked" data-value="">Всі проєкти</div>
          <div class="facetwp-radio" data-value="">
            <span class="facetwp-display-value">Все</span>
            <span class="facetwp-counter">(36)</span>
          </div>
          <div class="facetwp-radio" data-value="">
            <span class="facetwp-display-value">Про нас</span>
            <span class="facetwp-counter">(20)</span>
          </div>
          <div class="facetwp-radio" data-value="">
            <span class="facetwp-display-value">Больницы</span>
            <span class="facetwp-counter">(20)</span>
          </div>
          <div class="facetwp-radio" data-value="">
            <span class="facetwp-display-value">Врачи</span>
            <span class="facetwp-counter">(19)</span>
          </div>
          <div class="facetwp-radio" data-value="">
            <span class="facetwp-display-value">Программы</span>
            <span class="facetwp-counter">(13)</span>
          </div>
          <div class="facetwp-radio" data-value="">
            <span class="facetwp-display-value">Новости</span>
            <span class="facetwp-counter">(13)</span>
          </div>
        </div>
      </div>
    </div>

    <div class="search__content">
      <div class="search__def">
        <p>По запросу “Онкология” ничего не найдено</p>
      </div>

      <ul class="search__list">
        <li class="search__item">
          <a href="#" class="tl4">Персонализированный подход</a>
          <p class="search__mark">Больницы</p>
          <button type="button" class="btn-def br-gre">
            <span>Подробнее</span>
          </button>
        </li>
        <li class="search__item">
          <a href="#" class="tl4">Персонализированный подход</a>
          <p class="search__mark">Больницы</p>
          <button type="button" class="btn-def br-gre">
            <span>Подробнее</span>
          </button>
        </li>
        <li class="search__item">
          <a href="#" class="tl4">Персонализированный подход</a>
          <p class="search__mark">Больницы</p>
          <button type="button" class="btn-def br-gre">
            <span>Подробнее</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
