<section class="contacts pd4">
  <div class="contacts__container">
    <div class="heading">
      <h1 class="tl2 upper">Контакты</h1>
    </div>

    <ul class="contacts__cards">
      <li class="contacts__card">
        <div class="contacts__icon no-select">
          <img src="./img/icons/cont_1.svg" alt="" />
        </div>
        <div class="contacts__box">
          <h2 class="tl5 cr">Позвоните нам</h2>
          <address class="contacts__address">
            <a href="tel:+905066400395">+90 506 640 03 95</a>
            <a href="tel:+905066400395">+90 506 640 03 95</a>
          </address>
        </div>
      </li>

      <li class="contacts__card">
        <div class="contacts__icon no-select">
          <img src="./img/icons/cont_2.svg" alt="" />
        </div>
        <div class="contacts__box">
          <h2 class="tl5 cr">Напишите нам</h2>
          <address class="contacts__address">
            <a href="mailto:mail@pacient.club">mail@pacient.club</a>
          </address>
        </div>
      </li>

      <li class="contacts__card">
        <div class="contacts__icon no-select">
          <img src="./img/icons/cont_3.svg" alt="" />
        </div>
        <div class="contacts__box">
          <h2 class="tl5 cr">Мы в социальных сетях</h2>
          <ul class="contacts__soc">
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                class="no-select"
              >
                <img src="./img/icons/fb.svg" alt="" />
              </a>
            </li>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                class="no-select"
              >
                <img src="./img/icons/inst.svg" alt="" />
              </a>
            </li>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                class="no-select"
              >
                <img src="./img/icons/yt.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts__card">
        <div class="contacts__icon no-select">
          <img src="./img/icons/cont_4.svg" alt="" />
        </div>
        <div class="contacts__box">
          <h2 class="tl5 cr">Связаться с нами</h2>
          <ul class="contacts__connect">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_1.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_2.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_3.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
