.pd1 {
  padding-top: 10rem;
}
.pd2 {
  padding-top: 8.5rem;
}
.pd3 {
  padding-top: 5rem;
}

.tl1,
.tl2,
.tl3,
.tl4,
.tl5 {
  &.cw {
    color: var(--ce);
    font-weight: 600;
  }
  &.upper {
    text-transform: uppercase;
  }
}
.tl1 {
  font-size: 3.5rem;
  line-height: 1.28;
  text-transform: uppercase;
}
.tl2 {
  font-size: 3rem;
  line-height: 1.16;
}
.tl3 {
  font-size: 3rem;
  line-height: normal;
}
.tl4 {
  font-size: 1.5rem;
  line-height: 1.33;
}
.tl5 {
  font-size: 1.125rem;
  line-height: 1.55;
}

.btn-def {
  flex-shrink: 0;
  display: block;
  width: fit-content;
  text-align: center;
  font-weight: 600;
  color: var(--ce);
  background-color: var(--cr);
  padding: 0.9375rem 1.4375rem;
  border-radius: 2rem;
  border: 0.0625rem solid var(--cr);
  transition: all 0.15s ease-in;
  &:hover {
    color: var(--cr);
    background-color: var(--ce);
  }

  &.br-gre {
    background-color: var(--ce);
    border-color: var(--cg);
    color: var(--cm);
    &:hover {
      color: var(--ce);
      background-color: var(--cg);
    }
  }
}

.heading {
  padding-right: 15rem;
  margin-bottom: 2.75rem;
}
.frame-wrapp {
  position: relative;

  & > .btn-def {
    position: absolute;
    top: 0.1875rem;
    right: 0;
  }
}

@media screen and (max-width: 960px) {
  .pd1,
  .pd2,
  .pd3 {
    padding-top: 6rem;
  }

  .tl1 {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
  .tl2 {
    font-size: 2rem;
    line-height: 1.25;
  }
  .tl3 {
    font-size: 1.75rem;
    line-height: 1.14;
  }
  .tl4 {
    font-size: 1.125rem;
  }
  .tl5 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .btn-def {
    width: 100%;
    max-width: 21.5rem;
    padding: 0.9375rem;
  }

  .heading {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
  .frame-wrapp {
    & > .btn-def {
      position: static;
      top: auto;
      right: auto;
      margin: 0 auto;
      margin-top: 2rem;
      width: 100%;
      max-width: 21.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
}
