body {
  /* Colors */
  --cm: #0a0d12;
  --cb: #000;
  --cw: #fff;

  --ce: #fefefe;
  --ce2: #f5f5f5;
  --ce3: #f6f6f6;
  --ce4: #fafafa;

  --cd: #d5d7da;
  --cd2: #d1d1d1;

  --ca: #e9eaeb;
  --ca2: #a4a7ae;

  --cp: #feebe9;
  --ch: #717680;
  --cg: #005450;
  --ck: #479bac;
  --cr: #dd461a;

  /* Fonts */
  --ff: "Raleway", sans-serif;
}
