.comment {
  &__wrapp {
    &.isComplet {
      .comment__content {
        display: none;
      }
      .complet {
        display: flex;
      }
    }
  }
  &__content {
    .modal__tl {
      margin-bottom: 0.5rem;
      padding-right: 3rem;
    }
    .txt-def {
      margin-bottom: 1.5rem;
    }
  }

  .complet {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .comment {
    &__content {
      .modal__tl {
        margin-bottom: 1rem;
      }
    }
  }
}
