.reviews {
  &__card {
    .txt-def {
    }
  }
  &__box {
  }
  &__ava {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cp);
  }

  &__info {
  }
  &__name {
  }
  &__problem {
  }
  &__place {
  }

  .splide {
    &__track {
      overflow: visible;
    }
  }
}

@media screen and (max-width: 960px) {
  .reviews {
  }
}
