.reviews {
  &__card {
    padding: 1.5rem;
    border: 0.5rem solid var(--ce2);
    border-radius: 1.5rem;
    background-color: var(--ce);
    .txt-def {
      display: flex;
      flex-direction: column;
      gap: 1.5rem 0;
    }
  }
  &__box {
    display: grid;
    align-items: start;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    margin-bottom: 2rem;

    .reviews__ava {
      grid-area: 1 / 1 / 4 / 2;
    }
    .reviews__name {
      grid-area: 1 / 2 / 2 / 3;
    }
    .reviews__problem {
      grid-area: 2 / 2 / 3 / 3;
    }
    .reviews__place {
      grid-area: 3 / 2 / 4 / 3;
    }
  }

  &__ava {
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cp);
  }
  &__name {
    color: var(--cg);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.33;
  }
  &__problem {
    font-size: 1.125rem;
    line-height: 1.55;
  }
  &__place {
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.55;
  }

  .splide {
    &__track {
      overflow: visible;
    }
  }
}

@media screen and (max-width: 960px) {
  .reviews {
    &__card {
      padding: 1.375rem;
      border: 0.25rem solid var(--ce2);
      border-radius: 0.75rem;
      .txt-def {
        gap: 0;
        padding-top: 1rem;
        border-top: 0.0625rem solid var(--cd);
      }
    }
    &__box {
      gap: 0 1rem;
      margin-bottom: 1rem;

      .reviews__ava {
        grid-area: 1 / 1 / 3 / 2;
      }
      .reviews__place {
        grid-area: 3 / 1 / 4 / 3;
      }
    }

    &__ava {
      width: 3rem;
      height: 3rem;
    }
    &__name {
      font-size: 1.125rem;
      margin-bottom: 0.25rem;
    }
    &__problem {
      font-size: 0.875rem;
      line-height: 1.42;
    }
    &__place {
      font-size: 0.875rem;
      line-height: 1.42;
      margin-top: 1rem;
    }
  }
}
