.sechero {
  &__box {
    padding: 4rem 0;
    max-width: 38.75rem;

    .tl2 {
      margin-bottom: 1.5rem;
    }
    .txt-def {
      margin-bottom: 4rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .sechero {
    & > [class*="__body"] {
      & > [class*="__container"] {
        justify-content: end;
      }
    }

    &__box {
      padding: 3.125rem 0;
      max-width: 100%;

      .tl2 {
        font-size: 2.25rem;
        line-height: 1.11;
      }
      .txt-def {
        margin-bottom: 2rem;
      }
      .btn-def {
        margin: 0 auto;
      }
    }
  }
}
