<section class="certified pd2">
  <div class="certified__container">
    <div class="heading">
      <h2 class="tl2">Только сертифицированные клинники</h2>
    </div>

    <div class="splide-wrapp">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_1.png" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_2.png" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_3.png" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_4.png" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_5.png" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_6.png" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_7.png" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="certified__box">
                <img src="./img/content/certif_8.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="arrows">
        <div class="arrows__body">
          <button
            type="button"
            class="arrows__prev"
            aria-label="Arrows prev"
          ></button>
          <button
            type="button"
            class="arrows__next"
            aria-label="Arrows next"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
