<!-- screenbg *Важливо: класи isReverse, var(1-3) працюють у зв'язці з isFullMod! -->
<section class="club screenbg isFullMod mr2">
  <div class="club__bg no-select">
    <video autoplay muted loop preload="metadata">
      <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
      <source src="./img/media/mov-webm.webm" type="video/webm" />
    </video>
  </div>

  <div class="club__body">
    <!-- [class*="__container"] додається isReverse, якщо блок з іншої сторони -->
    <div class="club__container isReverse">
      <!-- [class*="__content"] додається var(1-3) ширини блоку -->
      <div class="club__content var2">
        <h2 class="tl2 cw upper">PACIENT CLUB</h2>
        <h3 class="tl4 cw">
          Платформа, которую мы создали благодаря поддержки и благодарностей
          наших пациентов, которым нам удалось помочь пройти путь к
          выздоровлению.
        </h3>
        <div class="txt-def cw">
          <p>
            <b>Наша команда</b> — это высококвалифицированные медицинские
            специалисты, координаторы и переводчики, которые помогают каждому
            пациенту на всех этапах лечения и по возвращению домой.
          </p>
        </div>
        <a href="./packages.html" class="btn-def bg-cw">Подробнее</a>
      </div>
    </div>
  </div>
</section>
