<section class="hero">
  <div class="hero__bg ibg no-select">
    <img src="./img/content/hero_1.jpg" alt="" />
  </div>
  <div class="hero__body">
    <div class="hero__container">
      <div class="hero__content">
        <p class="hero__subtl">
          Международная платформа поддержки онкологических пациентов
        </p>
        <h1 class="tl1 cw">Поиск лучших медицинских решений для каждого</h1>

        <div class="hero__search">
          <div
            class="facetwp-facet facetwp-facet-search facetwp-type-search"
            data-name="search"
            data-type="search"
          >
            <span class="facetwp-input-wrap">
              <i class="facetwp-icon"></i>
              <input
                type="text"
                class="facetwp-search"
                autocomplete="off"
                placeholder="Поиск по диагнозу"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
