<section class="hero">
  <div class="hero__container">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptates
      distinctio animi, voluptas ab perspiciatis incidunt a praesentium alias
      assumenda! Nemo possimus, facere molestiae necessitatibus deleniti id a,
      iure autem pariatur eligendi cumque. Aliquam consectetur aperiam sint, ut
      quidem pariatur corporis porro, hic atque cumque voluptas velit molestias
      animi dolores voluptate nobis necessitatibus dicta. Nostrum deserunt optio
      voluptate odio dolore eveniet adipisci. Vero esse dolorem tempora nemo
      illum ipsam natus. Numquam obcaecati, expedita ipsa, placeat dolor aliquid
      minus neque temporibus sit perspiciatis, sunt quo repellat nam! Mollitia
      cupiditate similique laboriosam quidem harum eos, alias ducimus, ab
      dolores repudiandae, maiores provident necessitatibus culpa dicta beatae
      exercitationem nulla pariatur perspiciatis nam quisquam iusto excepturi
      aspernatur tempora! Nesciunt rem est eveniet accusantium alias ex qui?
      Maiores fugit ex iure nesciunt, similique, voluptatem itaque ipsum ea quas
      soluta libero est quod ducimus totam fugiat nostrum perspiciatis molestias
      nihil. Alias numquam sunt velit quisquam possimus adipisci ducimus quod
      impedit odio! Maxime enim ex quaerat officia doloremque corporis.
      Veritatis id quae dicta repellendus repellat. Eligendi dolor, explicabo,
      id velit voluptates dolorem recusandae maxime beatae mollitia quae ullam!
      Voluptates, ad cupiditate voluptas possimus autem eos animi ipsa! Iusto
      voluptatibus esse alias. Molestiae quisquam praesentium suscipit, rerum,
      iste natus cupiditate ducimus nisi animi eligendi ab repellendus dolorem
      quibusdam quam voluptates facere dolor deleniti numquam ipsum officia qui
      architecto? Necessitatibus iusto tempore in accusantium. Dolores sequi
      veniam blanditiis sed. Tenetur veritatis, facilis doloribus ea, optio
      repellendus incidunt, nobis consectetur debitis similique esse.
      Exercitationem et placeat eos qui? Harum, error! Ipsa odit inventore
      nesciunt illo cumque accusamus id hic corrupti laudantium pariatur
      voluptas adipisci vel maiores voluptatem architecto necessitatibus
      delectus exercitationem, animi praesentium eveniet totam consequuntur?
      Aperiam nam deleniti vero sapiente quos quasi enim, animi quisquam dolore
      amet fuga libero nemo excepturi qui, eos cupiditate, repellendus iure
      voluptas porro iusto eum esse maxime provident! Reiciendis ullam ab
      cupiditate esse similique illo, libero in sapiente, iste quo dolor eaque
      enim voluptas voluptatem tenetur dolore? Quis facilis amet harum
      praesentium? Adipisci soluta ad cupiditate! Ad, sed error. Ullam est
      accusantium earum aliquam. Dolores iure illo rerum vitae ipsa qui! Optio
      molestiae modi accusantium aut, nostrum vitae! Delectus mollitia
      doloremque rem neque, autem obcaecati iste unde laudantium dolor quae modi
      iusto pariatur. Praesentium tempore sint architecto nostrum et asperiores,
      dignissimos laborum nam, at rem ullam quidem cumque doloribus. Impedit
      dolorem velit, reiciendis, ex fuga earum in quas animi alias nam placeat
      quod ea ad ipsum dolor pariatur nihil facere error, cupiditate recusandae
      autem omnis eius. Officiis explicabo libero ipsa architecto quidem
      inventore aliquid, excepturi est blanditiis, itaque reiciendis. Temporibus
      beatae nesciunt eos doloremque dolor tenetur delectus voluptas mollitia
      hic? Quia vitae accusamus, qui saepe cumque perferendis ex exercitationem
      culpa corporis ipsum numquam vero soluta natus ipsa! Tempore et
      exercitationem, facilis fugit ab quod excepturi amet, expedita cupiditate,
      ullam necessitatibus sit debitis sunt itaque laboriosam. Repellat
      dignissimos consequuntur neque beatae eum minus itaque totam reprehenderit
      cum repellendus consequatur eveniet, deserunt quia perferendis eligendi,
      eos quisquam? Natus voluptas dolorem harum consequatur magnam iure ipsum
      sed nostrum! Nihil recusandae vitae sunt sed assumenda. Molestias officiis
      laudantium nostrum a, ab minus nesciunt cupiditate minima reprehenderit
      rerum, iusto non? Reiciendis porro perferendis vitae aliquid fuga alias
      doloremque fugiat, beatae enim labore harum, debitis, mollitia vero!
      Doloremque aliquid sit porro iusto ullam culpa libero quidem quas odio
      voluptate sed assumenda neque, nobis illum facere provident hic ipsum id
      dignissimos nisi voluptatem magni sequi. Voluptate sint facilis molestias
      laborum animi praesentium officiis expedita cumque quae excepturi,
      blanditiis fugit, voluptas dolores repudiandae. Porro ipsum facere
      accusantium id sapiente iure voluptatem, quos, labore necessitatibus nihil
      natus, voluptas vitae at veniam similique aperiam cum vel fuga
      reprehenderit ab? Nesciunt, libero similique sapiente adipisci rem minus
      labore natus eveniet beatae nam odio inventore accusantium amet eius vero
      nostrum doloribus minima praesentium animi officia neque alias? Ipsum id
      debitis consectetur cupiditate. Sed fugit possimus, facere voluptatem cum
      dicta esse laboriosam, ad vel at maiores. Obcaecati tenetur facilis
      aliquam officiis. Facere corrupti numquam accusantium, distinctio, natus
      minus nam fuga reprehenderit totam quos sit molestiae. Facilis ab magni
      perferendis saepe mollitia quos culpa excepturi vero repellat sint aperiam
      eveniet, ad aspernatur et earum tenetur. Dolore explicabo, maiores
      perferendis totam voluptatem eaque quos dolor delectus quis sit
      consequuntur magnam reiciendis magni maxime aliquid cum quo in beatae
      nemo! Minus iure voluptate quae odio quo deserunt totam et dolore
      inventore illum laborum quis veniam nesciunt facere, porro quam dolorum
      modi doloremque at ea ex magnam obcaecati cupiditate! Ex perspiciatis,
      iusto cumque voluptates rerum fugit, sequi exercitationem earum doloremque
      voluptatem minus doloribus porro nemo cum magni quam iste non et libero
      provident! Obcaecati ad quia sit provident est harum vitae dolores animi
      natus, dolorem saepe nulla, tempora eaque quisquam adipisci porro! Eum
      aspernatur quos temporibus? Velit cupiditate consectetur quas quaerat
      nulla doloremque nesciunt autem labore, facere aut perspiciatis tempore
      dolor natus quis voluptas qui maxime distinctio perferendis aspernatur,
      laudantium ab provident? Cupiditate alias quas laudantium, corporis nihil
      ex distinctio illo eum, corrupti consequatur quibusdam? Quasi, odit! Porro
      magni ratione corporis repellat molestiae aliquid necessitatibus,
      praesentium ipsam illum nobis saepe commodi natus qui nemo odit vel rerum
      animi magnam iure aperiam labore aliquam pariatur? In inventore ducimus
      ut. Praesentium, voluptates perferendis iste tempora molestiae unde
      voluptatibus nostrum odio inventore, officia dignissimos provident quaerat
      nemo sint error blanditiis et sed. Exercitationem alias magni eveniet
      quisquam quo temporibus. Numquam impedit sapiente, rerum esse amet
      asperiores id officiis, dolores rem quidem velit voluptatem explicabo
      laudantium quae ipsum animi, corrupti mollitia itaque odit. Debitis unde
      itaque rem doloremque obcaecati reiciendis quisquam culpa fugit, suscipit
      ipsum vitae magni, quibusdam, reprehenderit exercitationem iste quo
      facilis perspiciatis omnis repellat praesentium optio similique. Quod nemo
      recusandae ducimus, est ratione delectus atque ipsum eos enim praesentium
      maiores eveniet accusamus iusto non omnis commodi incidunt accusantium.
      Minima doloremque, mollitia dolores officia suscipit aliquid, ex at atque
      tenetur, maiores labore explicabo consequuntur inventore rem! Maxime,
      debitis fugit. Explicabo beatae placeat vitae laudantium architecto fuga,
      accusantium neque cumque quos. Mollitia voluptate ipsa a magni, veniam vel
      optio officia harum aliquam fuga odit rem.
    </h1>
  </div>
</section>
