<section class="process">
  <div class="process__bg ibg no-select">
    <img src="./img/content/proc_1.jpg" alt="" />
  </div>

  <div class="process__body">
    <div class="process__container">
      <div class="heading">
        <h2 class="tl2 cw upper">Как это работает?</h2>
      </div>

      <div class="splide-wrapp var1">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide process__card">
                <span class="current__slide"></span>
                <div class="process__txt">
                  <p>Вы оставляете заявку, указывая проблему.</p>
                </div>
                <span class="process__icon no-select">
                  <img src="./img/icons/proc_1.svg" alt="" />
                </span>
              </li>
              <li class="splide__slide process__card">
                <span class="current__slide"></span>
                <div class="process__txt">
                  <p>
                    Доктор-координатор изучает ваше обращение и связывается с
                    вами.
                  </p>
                </div>
                <span class="process__icon no-select">
                  <img src="./img/icons/proc_2.svg" alt="" />
                </span>
              </li>
              <li class="splide__slide process__card">
                <span class="current__slide"></span>
                <div class="process__txt">
                  <p>
                    Доктор подбирает лучшую клинику и врача для вашего случая
                    исходя из ваших пожеланий и потребностей
                  </p>
                </div>
                <span class="process__icon no-select">
                  <img src="./img/icons/proc_3.svg" alt="" />
                </span>
              </li>
              <li class="splide__slide process__card">
                <span class="current__slide"></span>
                <div class="process__txt">
                  <p>
                    Врач-координатор согласовывает программу с вами и помогает
                    организовать поездку на лечение.
                  </p>
                </div>
                <span class="process__icon no-select">
                  <img src="./img/icons/proc_4.svg" alt="" />
                </span>
              </li>
              <li class="splide__slide process__card">
                <span class="current__slide"></span>
                <div class="process__txt">
                  <p>
                    Вы проходите лечение, ваш врач-координатор сопровождает вас
                    онлайн на всех этапах 24/7
                  </p>
                </div>
                <span class="process__icon no-select">
                  <img src="./img/icons/proc_5.svg" alt="" />
                </span>
              </li>
            </ul>
          </div>
        </div>

        <div class="arrows">
          <div class="arrows__body">
            <button
              type="button"
              class="arrows__prev"
              aria-label="Arrows prev"
            ></button>
            <button
              type="button"
              class="arrows__next"
              aria-label="Arrows next"
            ></button>
          </div>
        </div>
      </div>

      <button type="button" class="btn-def">Заказать звонок</button>
    </div>
  </div>
</section>
