<section class="solutions pd2">
  <div class="solutions__container">
    <div class="frame-wrapp">
      <div class="heading">
        <h2 class="tl2">
          Специальные комплексные решения<br />
          для пациентов
        </h2>
      </div>

      <div class="splide-wrapp">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide solut__card">
                <a href="./program.html" class="solut__img ibg">
                  <img src="./img/content/solut_1.jpg" alt="" />
                </a>
                <div class="solut__box">
                  <a href="./program.html" class="tl4 ibg">
                    Хирургия пороков сердца у детей с рождения
                  </a>
                  <p class="solut__cost">Стоимость от</p>
                  <p class="solut__price">2 300 USD</p>
                  <div class="solut__bottom">
                    <a href="./program.html" class="btn-def br-gry">
                      Подробнее
                    </a>
                    <div class="solut__soc">
                      <p>Получить консультацию</p>
                      <ul>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_1.svg" alt="" />
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_2.svg" alt="" />
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_3.svg" alt="" />
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="splide__slide solut__card">
                <a href="./program.html" class="solut__img ibg">
                  <img src="./img/content/solut_2.jpg" alt="" />
                </a>
                <div class="solut__box">
                  <a href="./program.html" class="tl4 ibg">
                    Лечение стволовыми клетками
                  </a>
                  <p class="solut__cost">Стоимость от</p>
                  <p class="solut__price">2 300 USD</p>
                  <div class="solut__bottom">
                    <a href="./program.html" class="btn-def br-gry">
                      Подробнее
                    </a>
                    <div class="solut__soc">
                      <p>Получить консультацию</p>
                      <ul>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_1.svg" alt="" />
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_2.svg" alt="" />
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_3.svg" alt="" />
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="splide__slide solut__card">
                <a href="./program.html" class="solut__img ibg">
                  <img src="./img/content/solut_3.jpg" alt="" />
                </a>
                <div class="solut__box">
                  <a href="./program.html" class="tl4 ibg">
                    Хирургия пороков сердца у детей с рождения
                  </a>
                  <p class="solut__cost">Стоимость от</p>
                  <p class="solut__price">2 300 USD</p>
                  <div class="solut__bottom">
                    <a href="./program.html" class="btn-def br-gry">
                      Подробнее
                    </a>
                    <div class="solut__soc">
                      <p>Получить консультацию</p>
                      <ul>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_1.svg" alt="" />
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_2.svg" alt="" />
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <img src="./img/icons/soc_3.svg" alt="" />
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="arrows">
          <div class="arrows__body">
            <button
              type="button"
              class="arrows__prev"
              aria-label="Arrows prev"
            ></button>
            <button
              type="button"
              class="arrows__next"
              aria-label="Arrows next"
            ></button>
          </div>
        </div>
      </div>

      <a href="./program.html" class="btn-def br-gre">Все Программы</a>
    </div>
  </div>
</section>
