<section class="special pd2">
  <div class="special__container">
    <div class="frame-wrapp">
      <div class="heading">
        <h2 class="tl2 upper">Специализации</h2>
      </div>

      <div class="splide-wrapp">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide special__card">
                <a href="#">Онкология</a>
                <a href="#">Кардиология</a>
                <a href="#">Онкология</a>
                <a href="#">Кардиология</a>
              </li>
              <li class="splide__slide special__card">
                <a href="#">Нейрохирургия</a>
                <a href="#">Ортопедия</a>
                <a href="#">Нейрохирургия</a>
                <a href="#">Ортопедия</a>
              </li>
              <li class="splide__slide special__card">
                <a href="#">Онкология</a>
                <a href="#">Кардиология</a>
                <a href="#">Онкология</a>
                <a href="#">Кардиология</a>
              </li>
              <li class="splide__slide special__card">
                <a href="#">Нейрохирургия</a>
                <a href="#">Ортопедия</a>
                <a href="#">Нейрохирургия</a>
                <a href="#">Ортопедия</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="arrows">
          <div class="arrows__body">
            <button
              type="button"
              class="arrows__prev"
              aria-label="Arrows prev"
            ></button>
            <button
              type="button"
              class="arrows__next"
              aria-label="Arrows next"
            ></button>
          </div>
        </div>
      </div>

      <button type="button" class="btn-def br-gre">Подробнее</button>
    </div>
  </div>
</section>
