<section class="special pd2">
  <div class="special__container">
    <div class="frame-wrapp">
      <div class="heading">
        <h2 class="tl2">Специализации</h2>
      </div>

      <div class="splide-wrapp">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide special__card">
                <!-- додав special__box, як обгортку -->
                <div class="special__box">
                  <a href="#">Онкология</a>
                </div>
                <div class="special__box">
                  <a href="#">Кардиология</a>
                </div>
                <div class="special__box">
                  <a href="#">Онкология</a>
                </div>
                <div class="special__box">
                  <a href="#">Кардиология</a>
                </div>
              </li>
              <li class="splide__slide special__card">
                <div class="special__box">
                  <a href="#">Онкология</a>
                </div>
                <div class="special__box">
                  <a href="#">Кардиология</a>
                </div>
                <div class="special__box">
                  <a href="#">Онкология</a>
                </div>
                <div class="special__box">
                  <a href="#">Кардиология</a>
                </div>
              </li>
              <li class="splide__slide special__card">
                <div class="special__box">
                  <a href="#">Онкология</a>
                </div>
                <div class="special__box">
                  <a href="#">Кардиология</a>
                </div>
                <div class="special__box">
                  <a href="#">Онкология</a>
                </div>
                <div class="special__box">
                  <a href="#">Кардиология</a>
                </div>
              </li>
              <li class="splide__slide special__card">
                <div class="special__box">
                  <a href="#">Онкология</a>
                </div>
                <div class="special__box">
                  <a href="#">Кардиология</a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="arrows">
          <div class="arrows__body">
            <button
              type="button"
              class="arrows__prev"
              aria-label="Arrows prev"
            ></button>
            <button
              type="button"
              class="arrows__next"
              aria-label="Arrows next"
            ></button>
          </div>
        </div>
      </div>

      <a href="#" class="btn-def br-gre">Подробнее</a>
    </div>
  </div>
</section>
