<section class="support pd2">
  <div class="support__container">
    <div class="heading">
      <h2 class="tl2 upper">
        Какую поддержку мы предоставляем<br />
        нашим пациентам?
      </h2>
    </div>

    <div class="splide-wrapp">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <span class="no-select">
                <img src="./img/icons/sup_1.svg" alt="" />
              </span>
              <h3 class="tl5">
                Бесплатное предоставление второго медицинского мнения в течение
                48 часов
              </h3>
            </li>
            <li class="splide__slide">
              <span class="no-select">
                <img src="./img/icons/sup_2.svg" alt="" />
              </span>
              <h3 class="tl5">Личный координатор и сопровождение 24/7</h3>
            </li>
            <li class="splide__slide">
              <span class="no-select">
                <img src="./img/icons/sup_3.svg" alt="" />
              </span>
              <h3 class="tl5">Бесплатный трансфер из аэропорта</h3>
            </li>
            <li class="splide__slide">
              <span class="no-select">
                <img src="./img/icons/sup_4.svg" alt="" />
              </span>
              <h3 class="tl5">
                Бесплатные услуги переводчика во время визитов к врачам в
                клинике
              </h3>
            </li>
            <li class="splide__slide">
              <span class="no-select">
                <img src="./img/icons/sup_5.svg" alt="" />
              </span>
              <h3 class="tl5">Запись на прием к врачам</h3>
            </li>
          </ul>
        </div>
      </div>

      <div class="arrows">
        <div class="arrows__body">
          <button
            type="button"
            class="arrows__prev"
            aria-label="Arrows prev"
          ></button>
          <button
            type="button"
            class="arrows__next"
            aria-label="Arrows next"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
