<!-- screenbg *Важливо: класи isReverse, var(1-3) працюють у зв'язці з isFullMod! -->
<section class="technol screenbg isFullMod mr2">
  <div class="technol__bg ibg no-select">
    <img src="./img/content/tech_1.jpg" alt="" />
  </div>

  <div class="technol__body">
    <!-- [class*="__container"] додається isReverse, якщо блок з іншої сторони -->
    <div class="technol__container">
      <!-- [class*="__content"] додається var(1-3) ширини блоку -->
      <div class="technol__content var3">
        <h2 class="tl2 cw upper">ПЕРЕДОВЫЕ ТЕХНОЛОГИИ ДЛЯ ВАШЕГО ЗДОРОВЬЯ!</h2>
        <div class="txt-def cw">
          <p>
            Доверьте свое здоровье лучшим специалистам и воспользуйтесь
            передовыми медицинскими технологиями для эффективного и безопасного
            лечения.
          </p>
        </div>
        <button type="button" class="btn-def">Бесплатная консультация</button>
      </div>
    </div>
  </div>
</section>
